<div class="overlay"></div>
<div class="intrude-less">
    <header id="header" class="inner">
        <a href="<%= config.root %>" class="profilepic">
            <img src="<%- theme.root_url %><%=theme.avatar%>" class="animated zoomIn">
        </a>
        <hgroup>
          <h1 class="header-author"><a href="<%= config.root %>"><%=theme.author%></a></h1>
        </hgroup>

        <% if (theme.subtitle){ %>
        <p class="header-subtitle"><%=theme.subtitle%></p>
        <%}%>

        <% if (theme.search.on){ %>
            <form id="search-form">
            <input type="text" id="local-search-input" name="q" placeholder="search..." class="search form-control" autocomplete="off" autocorrect="off" searchonload="<%= theme.search.onload %>" />
            <i class="fa fa-times" onclick="resetSearch()"></i>
            </form>
            <div id="local-search-result"></div>
            <p class='no-result'>No results found <i class='fa fa-spinner fa-pulse'></i></p>
        <%}%>

        <div id="switch-area" class="switch-area">
            <div class="switch-wrap">
                <section class="switch-part switch-part1">
                    <nav class="header-menu">
                        <ul>
                        <% for (var i in theme.menu){ %>
                            <li><a href="<%- theme.root_url %><%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <%}%>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </header>                
</div>